
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <main>
      <div>
        <h1>Log In</h1>
          {% if form.errors %}
            <p style="color: red">Your username and password didn't match. Please try again.</p>
          {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Log In</button>
          <a href="{% url 'signup' %}">New to My Site? Sign up</a>
        </form>
      </div>
    </main>
  </body>
</html>
